@model RoleViewModel;
@{
    ViewData["Title"] = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="w-50 mx-auto mt-5">
    <h1 class="alert alert-success text-center">Create Role</h1>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="RoleName" class="form-label"></label>
        <input asp-for="RoleName" placeholder="Role Name" class="form-control my-2" />
        <span class="text-danger" asp-validation-for="RoleName"></span>
        <button type="submit" class="btn btn-success">Create</button>
        <a class="btn btn-secondary" asp-action="Index">Back</a>
    </form>
</div>

