@model RoleViewModel;
@{
    ViewData["Title"] = "Update Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="alert alert-warning">Edit Role @Model.RoleName</h1>
    <form asp-action="Update">
        <div class="mb-3">
            <label asp-for="RoleName" class="form-label"></label>
            <input class="form-control" asp-for="RoleName">
            <span class="text-danger" asp-validation-for="RoleName"></span>
        </div>
        <button type="submit" class="btn btn-warning">Edit</button>
        <a class="btn btn-secondary" asp-action="Index">Back</a>
    </form>
</div>

