@model Department;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light w-75 mx-auto py-5">
    <h1 class="alert alert-info text-center">Delete of Department : @Model.Name</h1>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" value="@Model.Code" class="form-control" readonly>

    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" value="@Model.Name" class="form-control" readonly>

    </div>
    <div class="mb-3">
        <label asp-for="DateOfCreation" class="form-label"></label>
        <input type="text" value="@Model.DateOfCreation.ToString()" class="form-control" readonly>
    </div>
</div>

