@model DepartmentViewModel;
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light w-75 mx-auto my-5">
    <h1 class="alert alert-warning text-center">Update Department @Model.Name </h1>

    <form asp-action="Update">
        <partial name="PartialViews/CreateUpdateDeptPartial"/>
        <button type="submit" class="btn btn-warning">Save Upates</button>
        <a class="btn btn-light" asp-controller="Department" asp-action="Index">Back</a>
    </form>
</div>
@section ValidationInputs {
    <partial name="_ValidationScriptsPartial" />
}

