@model DepartmentViewModel;
@{
    ViewData["Title"] = "view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light w-75 mx-auto py-5">
    <h1 class="alert alert-info text-center">Detailes of Department : @Model.Name</h1>
    <partial name="PartialViews/ViewDeleteDeptPartial">
    <div>
        <a class="btn btn-warning" asp-controller="department" asp-action="update" asp-route-id="@Model.Id"><i class="fa-solid fa-pen"></i>Update</a>
        <a class="btn btn-light" asp-controller="department" asp-action="index"><i class="fa-solid fa-arrow-left-long px-2"></i>Back</a>
    </div>
</div>

