@model ForgetPasswordViewModel;
@{
    ViewData["Title"] = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="agileits-top">
<form asp-action="ForgetPassword">
	<div class="textDanger" asp-validation-summary="ModelOnly"></div>
	<input class="text email" asp-for="Email" placeholder="Email" required="">
	<input type="submit" value="Reset Password">
</form>
</div>

