@model ResetPasswordViewModel;
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="agileits-top">
	<form asp-action="ResetPassword">
		<div class="textDanger" asp-validation-summary="ModelOnly"></div>
		<input class="text" asp-for="NewPassword" placeholder="Password" required="">
		<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
		<input type="submit" value="Submit">
	</form>
</div>

@section ValidatoinInputs {
	<partial name="_ValidationScriptsPartial" />
}
