@model DepartmentViewModel;
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
    <div class="mb-3">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" class="form-control">
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="DateOfCreation" class="form-label"></label>
        <input asp-for="DateOfCreation" class="form-control">
    </div>
