@model EmployeeViewModel;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-light w-75 mx-auto my-4 p-3">
    <h1 class="alert alert-warning text-center">Create New Employee</h1>
    <form asp-action="Create" enctype="multipart/form-data">
        <partial name="PartialViews/CreateUpdateEmpPartial" />
        <div class="mb-3">
            <label>Your Gender:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Male" name="Gender" value="1">
                <label class="form-check-label" for="Male">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="Female" name="Gender" value="2">
                <label class="form-check-label" for="Female">Female</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section ValidationInputs{
    <partial name="_ValidationScriptsPartial" />
}