@model EmployeeViewModel;
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="w-75 mx-auto my-4 p-3">
    <h1 class="alert alert-danger text-center">Delete Employee @Model.Name</h1>
    <partial name="PartialViews/ViewDeleteEmpPartial" />
    <div>
        <a class="btn btn-warning" asp-controller="Employee" asp-action="Delete" asp-route-id="@Model.Id">Update</a>
        <a class="btn btn-light" asp-controller="Employee" asp-action="Index">Cancel</a>
    </div>

</div>


