@model EmployeeViewModel;
@{
    ViewData["Title"] = "view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="w-75 mx-auto my-4 p-3">
    <h1 class="alert alert-info text-center">Detailes about Employee @Model.Name</h1>
    <partial name="PartialViews/ViewDeleteEmpPartial" />
    <div class="mb-3 form-check">
        <input class="form-check-input" asp-for="IsActive" disabled>
        <label class="form-check-label" asp-for="IsActive" ></label>
    </div>
    <div>
        <a class="btn btn-warning" asp-controller="Employee" asp-action="Update" asp-route-id="@Model.Id">Update</a>
        <a class="btn btn-light" asp-controller="Employee" asp-action="Index">Cancel</a>
    </div>
</div>


