@model Employee;
@{
    ViewData["Title"] = "view";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="w-75 mx-auto my-4 p-3">
    <h1 class="alert alert-info text-center">Detailes about Employee @Model.Name</h1>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" class="form-control" readonly>
    </div>
    <div class="mb-3">
        <label>Your Gender:</label>
        <div class="form-check">
            @if (Model.Gender.ToString().ToLower() == "male" )
            {
                <input class="form-check-input" type="radio" id="Male" name="Gender" value="1" checked readonly>
                <label class="form-check-label" for="Male">Male</label>
            }
            else
            {
                <input class="form-check-input" type="radio" id="Female" name="Gender" value="2" checked readonly>
                <label class="form-check-label" for="Female">Female</label>
            }
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Address" class="form-label"></label>
        <input asp-for="Address" class="form-control" readonly>
     
    </div>
    <div class="mb-3">
        <label asp-for="Salary" class="form-label"></label>
        <input asp-for="Salary" class="form-control" readonly>
    </div>
    <div class="mb-3">
        <label asp-for="PhoneNumber" class="form-label"></label>
        <input asp-for="PhoneNumber" class="form-control" readonly>
       
    </div>
    <div class="mb-3">
        <label asp-for="HiringDate" class="form-label"></label>
        <input asp-for="HiringDate" class="form-control" readonly>
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" asp-for="IsActive" disabled>
        <label class="form-check-label" asp-for="IsActive" ></label>
    </div>
    <div>
        <a class="btn btn-warning" asp-controller="Employee" asp-action="Update" asp-route-id="@Model.Id">Update</a>
        <a class="btn btn-light" asp-controller="Employee" asp-action="Index">Cancel</a>
    </div>
</div>


